node_modules
.turbo
coverage
dist
build
*.log
.DS_Store
.env
android/app/build
android/build
apps/mobile/android/.gradle
apps/mobile/android/.gradle-home
apps/mobile/android/app/build
apps/mobile/android/build
ios/build
ios/Pods
*.keystore
*.jks
*.apk
*.aab
