# API_URL=http://10.0.2.2:4000

# API_URL=http://10.0.2.2:4000
# API_URL=http://10.35.242.6:4000
# API_URL=http://localhost:4000
API_URL=https://asset.pinnaclesystems.co.in


# Required only for reverse geocoding in Asset Audit.
ASSET_TOMTOM_API_KEY=